.hero-media .owl-carousel .owl-nav a, .hero-media .owl-carousel .owl-expand a {
  height: 108px;
  line-height: 108px;
  color: #fff;
  display: none;
}

.feature {
  text-align: left;
}

.text-dark {
  color: black;
}

.my-theme-color {
  color: #F68338;
}

.my-theme-back {
  background: #F68338;
  border: none;
}
